.leader-card .label {
    -fx-font-size: 16;
}
.leader-card #lcRequirements {
    -fx-pref-height: 35.0;
    -fx-pref-width: 90.0;
}
.leader-card #lcRequirements .hbox {
    -fx-pref-height: 35.0;
    -fx-pref-width: 42.0;
}
.leader-card #lcRequirements .label {
    -fx-pref-height: 35.0;
    -fx-pref-width: 12.0;
    -fx-text-fill: white;
}
.leader-card #lcVictoryPoints {
    -fx-alignment: center;
}
.base-production {
    -fx-background-image: url("../../images/base-production.png");
}
.base-production .label {
    -fx-font-size: 50;
}

.player-board #playerBoardDisplay {
    -fx-background-image: url("../../images/player_board.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.faith-track .in-range {
    -fx-border-color: #0044EFFF;
    -fx-border-width: 1 0;
    -fx-border-style: solid;
    -fx-border-radius: 0 0;
    -fx-border-insets: 0 0 0 0 0;
}
.faith-track .last-in-range{
    -fx-border-color: #0044EFFF;
    -fx-border-width: 1 0 1 1;
    -fx-border-style: solid;
    -fx-border-radius: 0 0;
    -fx-border-insets: 0 0 0 0 0;
}
.faith-track .first-in-range{
    -fx-border-color: #0044EFFF;
    -fx-border-width: 1 1 1 0;
    -fx-border-style: solid;
    -fx-border-radius: 0 0;
    -fx-border-insets: 0 0 0 0 0;
}
.faith-track .special-tile .text {
     -fx-font-size: 20;
     -fx-stroke: black;
     -fx-stroke-width: 0.8;
 }