.home {
    -fx-pref-width: 700;
    -fx-pref-height: 500;
    -fx-min-width: 700;
    -fx-min-height: 500;
}
.home .label {
    -fx-pref-width: inherit;
    -fx-pref-height: 62;
    -fx-font-size: 24;
    -fx-alignment: center;
}
.home .buttons-container {
    -fx-alignment: center;
    -fx-spacing: 40;
    -fx-font-size: 18;
}
.home .buttons-container .button {
    -fx-pref-width: 216;
}
.edit-leader-cards {

}
.leaderCard {
    -fx-background-image: url("../../images/leader_card_front.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 294.0;
    -fx-pref-width: 195.0;
}
.leaderCard #lcRequirements {
    -fx-pref-height: 35.0;
    -fx-pref-width: 81.0;
}
.leaderCard #lcRequirements .hbox {
    -fx-pref-height: 35.0;
    -fx-pref-width: 42.0;
}
.leaderCard #lcRequirements .label {
    -fx-pref-height: 35.0;
    -fx-pref-width: 12.0;
}
.leaderCard #lcVictoryPoints {
    -fx-alignment: center;
}