.home {
    -fx-pref-width: 700;
    -fx-pref-height: 500;
    -fx-min-width: 700;
    -fx-min-height: 500;
    -fx-background-image: url("../../images/homebg.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 700 500;
}
.home .label {
    -fx-pref-width: inherit;
    -fx-pref-height: 62;
    -fx-font-size: 40;
    -fx-alignment: center;
    -fx-text-fill: saddlebrown;
    -fx-font-family: 'Girassol', cursive;
}

.home .label .text {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.home .buttons-container {
    -fx-alignment: center;
    -fx-spacing: 40;
    -fx-font-size: 18;
}
.home .buttons-container .button {
    -fx-pref-width: 216;
}
.leader-card .label {
    -fx-font-size: 16;
}
.leader-card #lcRequirements {
    -fx-pref-height: 35.0;
    -fx-pref-width: 90.0;
}
.leader-card #lcRequirements .hbox {
    -fx-pref-height: 35.0;
    -fx-pref-width: 42.0;
}
.leader-card #lcRequirements .label {
    -fx-pref-height: 35.0;
    -fx-pref-width: 12.0;
    -fx-text-fill: white;
}
.leader-card #lcVictoryPoints {
    -fx-alignment: center;
}
.base-production {
    -fx-background-image: url("../../images/base-production.png");
}
.base-production .label {
    -fx-font-size: 50;
}
.dev-cards-list .list-cell {
    -fx-padding: 0 10 0 10;
}
.dev-cards-colors {
    -fx-padding: 0 0 0 20;
}

.edit-faith-track .faith-track {
    -fx-padding: 20 0 20 0;
}

.special-tile .text {
    -fx-font-size: 20;
    -fx-stroke: black;
    -fx-stroke-width: 0.8;
}

.in-range {
    -fx-border-color: #0044EFFF;
    -fx-border-width: 1 0;
    -fx-border-style: solid;
    -fx-border-radius: 0 0;
    -fx-border-insets: 0 0 0 0 0;
}

.last-in-range{
    -fx-border-color: #0044EFFF;
    -fx-border-width: 1 0 1 1;
    -fx-border-style: solid;
    -fx-border-radius: 0 0;
    -fx-border-insets: 0 0 0 0 0;
}

.first-in-range{
    -fx-border-color: #0044EFFF;
    -fx-border-width: 1 1 1 0;
    -fx-border-style: solid;
    -fx-border-radius: 0 0;
    -fx-border-insets: 0 0 0 0 0;
}